RewriteEngine On

# Redirect non-www to www
RewriteCond %{HTTP_HOST} ^q2m\.io [NC]
RewriteRule ^(.*)$ https://www.q2m.io/$1 [R=301,L]

# Redirect HTTP to HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]